@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OKDDUNGA';
    src: url('../font/transfonter.org-20220818-030358/');
    src: url('../font/OKDDUNGA1.eot?#iefix') format('embedded-opentype'),
        url('../font/OKDDUNGA1.woff2') format('woff2'),
        url('../font/OKDDUNGA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}